# Python
__pycache__/
*.py[cod]
*.so

# Virtual env
venv/
.venv/
.env
.env.*

# Logs
*.log
logs/

# Database
*.sqlite3
*.db

# Build
build/
dist/
*.egg-info/

# Testing
.pytest_cache/
.coverage
htmlcov/

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db
firebase_service_account.json